### Day 4 Pt 1

In [1]:
import pandas as pd
import numpy as np

In [2]:
numbers = pd.read_csv('aoc4.csv')
tables = pd.read_excel('aoc4_bingotables.xlsx')
tables

     Col 1  Col 2  Col 3  Col 4  Col 5
0       88     67     20     19     15
1       22     76     86     44     73
2        7     42      6     69     25
3       12     68     92     21     75
4       97     45     13     52     70
..     ...    ...    ...    ...    ...
495     26     53     58     52      1
496     82     57     32     40     20
497     72     21     74     46     43
498     41     15     98      2     11
499      5     96     22     18     55

[500 rows x 5 columns]

In [3]:
test = tables
empty = test.copy()

for col in empty.columns:
    empty[col].values[:] = 0
empty

     Col 1  Col 2  Col 3  Col 4  Col 5
0        0      0      0      0      0
1        0      0      0      0      0
2        0      0      0      0      0
3        0      0      0      0      0
4        0      0      0      0      0
..     ...    ...    ...    ...    ...
495      0      0      0      0      0
496      0      0      0      0      0
497      0      0      0      0      0
498      0      0      0      0      0
499      0      0      0      0      0

[500 rows x 5 columns]

Theory of how to complete: convert the table into binary elements. if record exists then becomes a 1 and stays that way as we iterate through. if some of row or sum of column = 5 then it is a winner

Iterate through numbers list and then update the table each time, grab sums, if no winner then continue

In [4]:
#store the output of number of row sum and column sum to a dataframe
# so we can check at the end whether there is a winner
col_match = pd.DataFrame(index=range(0,500,5), 
                         columns=['Col 1', 'Col 2', 'Col 3',
                                 'Col 4', 'Col 5'])
bingo = 0

for x in numbers.index:
#         print('index val', x)
        r = 0
#         print('{} was marked off cards'.format(numbers.iloc[x][0]))
        for i in test.columns:
            q = 0
            last_num = 1000
            for z in test[i].index:
            #if the value equals number called set binary value to 1
                if test[i][z] == numbers.iloc[x][0]:
#                     print(i, 'loop 1 - mark numbers')
                    empty[i][z] = 1
                else:
                    continue
                    
            while q <= len(test):
                #sum up groups of 5 rows
                col_sum = sum(empty[i].iloc[q:q+5])
#             if col_sum == 5:
# #             #if we get bingo we stop the game
#                 print(i, 'loop 2 - sum up columns')
#                 break
#                 print(i)
                col_match[i].loc[q] = col_sum
#                 print('values added to column DF')
                q +=5
        
        for i in test.columns:
    #testing columns or any bingos
            if col_match[i][col_match[i] == 5].count() > 0:
                print('Bingo!')
                print('The last number called for bingo is {}'.format(numbers.iloc[x][0]))
                last_num = numbers.iloc[x][0]
                bingo = 1
                curr_ind = col_match[i][col_match[i] == 5].index[0]
                break

        while r in test.index:
#             print(r)
#             print('loop 3 - sum up rows')
#             print('checking row sums')
            row_sum = np.sum(empty.iloc[r])
            if row_sum == 5:
                print('Bingo!')
                print('The last number called for bingo is {}'.format(numbers.iloc[x][0]))
                last_num = numbers.iloc[x][0]
                curr_ind = test.iloc[r]
                bingo = 1
                break

#             #if we get bingo we stop the game
            r +=1
    
        if bingo == 1:
            break

Bingo!
The last number called for bingo is 78

In [5]:
total_table = empty[curr_ind:curr_ind+5]
tot_list = list()

for i in total_table.columns:
    for z in total_table.index:
        if total_table[i].loc[z] == 0:
            tot_list.append(test[i].loc[z])
            
tot = sum(tot_list)
output = tot*last_num
output

49686

The answer is 49686

### Day 4 Pt 2

In [6]:
test = tables
empty = test.copy()

for col in empty.columns:
    empty[col].values[:] = 0
empty

     Col 1  Col 2  Col 3  Col 4  Col 5
0        0      0      0      0      0
1        0      0      0      0      0
2        0      0      0      0      0
3        0      0      0      0      0
4        0      0      0      0      0
..     ...    ...    ...    ...    ...
495      0      0      0      0      0
496      0      0      0      0      0
497      0      0      0      0      0
498      0      0      0      0      0
499      0      0      0      0      0

[500 rows x 5 columns]

In [7]:
#need to return the last winning bingo card
#to do that need to store winning rows and columns by card into new df and then update dictionary anytime a new card
#gets bingo

#instantiate variables
col_match = pd.DataFrame(index=range(0,500,5), 
                         columns=['Col 1', 'Col 2', 'Col 3',
                                 'Col 4', 'Col 5'])
row_match = pd.DataFrame(index=range(0,500,5), 
                         columns=['Row'])

row_list = list()
winner_list = list()
winner_dict = dict()


for x in numbers.index:
        r = 0
        for i in test.columns:
            q = 0
            last_num = 1000
            for z in test[i].index:
            #loops through all bingo cards and sets value of 1 if the number called matches a value in that bingo card
                if test[i][z] == numbers.iloc[x][0]:
                    empty[i][z] = 1
                else:
                    continue
                    
            while q <= len(test):
                #sum up the rows from each column and save to a dataframe so we can check did this card have 5 in a row
                col_sum = sum(empty[i].iloc[q:q+5])
                col_match[i].loc[q] = col_sum
                q +=5

        while r in test.index:
            #same thing for rows. Did this card match 5 across the rows
            row_sum = np.sum(empty.iloc[r])
            row_list.append(row_sum)
            if len(row_list) == 5:
                row_match['Row'].loc[r-4] = max(row_list)
                row_list = list()

            r +=1
    
    #create a new dataframe that joins column and row matches so we can check each index whether it won
        winner_test = pd.concat([col_match, row_match], axis=1)
        for z in winner_test.index:
            for a in winner_test.columns:
                winner_list.append(winner_test[a].loc[z])
                if len(winner_list) == 6:
                    #allows us to re-count after each card
                    if 5 in winner_list:
                        #anytime there is a new winner it overwrites and maintains order of winners
                        winner_dict.update({z:'win'})
                    winner_list = list()
                
        if len(winner_dict) == 100:
            #once all 100 cards win, we stop the game and store the last number called
            last_num = numbers.iloc[x][0]
            break
            
dict_list = list(winner_dict.keys())

#grab the data from the last winning card
total_table2 = empty[dict_list[99]:dict_list[99]+5]
tot_list2 = list()

for i in total_table2.columns:
    for z in total_table2.index:
        #sum up al records where we didn't match a called number
        if total_table2[i].loc[z] == 0:
            tot_list2.append(test[i].loc[z])
            
tot = sum(tot_list2)
output = tot*last_num
output

26878

The answer is 26,878